html, body {
    scrollbar-width: none;
    overscroll-behavior: none;
}

.App {
    display: flex;
    flex-direction: column; 
    width: 100%;
    min-height: 100vh;
    overflow: visible;
}

.topBar {
    background-color: white;
    height: 50px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    transform: translateY(-100%);
    transition: transform 0.1s;
    z-index: 1;
}

.topBar.scrollUp {
    transform: translateY(0);
}

.topBar > img {
    height: 30px;
}

.stories {
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.story {
    position: relative;
    width: 72px;
    height: 72px;
    flex: 0 0 auto;
    margin: 0px 10px;
    padding: 4px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, #FFDC80 , #FD1D1D, #C13584);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.storyModal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storyWrapper {
    position: relative;
    margin-top: 5%;
    height: 100%;
    max-width: min-content;
}

.storyImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    top: 20px;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 15%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.547) 0%, rgba(255,255,255,0) 100%);
}

.storyHeader {
    position: absolute;
    top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.storyHeader div{
    line-height: 35px;
}

.storyHeader img {
    border: black 2px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.storyPfp {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.storyBar {
    position: relative;
    width: 90vw;
    height: 3px;
    background-color: rgba(255, 255, 255, .35);
    border-radius: 10%;
    z-index: 3;
}

.storyFill {
    height: 100%;
    background-color: white;
    animation-name: storyFill;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes storyFill {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.post {
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pHeader {
    height: 50px;
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 14px;
}

.pHeader img {
    border-radius: 50%;
    border: 1px solid gray;
    width: 35px;
    height: 35px;
}

.media {
    border-color: gray;
    border: 2px solid;
    border-radius: 4px;
    width: 50vh;
    height: calc(50vh * 1.25);
    flex: 0 0 auto;
}

.actions {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.actions > div > img, .actions > img {
    height: 25px;
}

.actions > div {
    display: flex;
    gap: 20px;
}

.comment {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font: inherit;
    resize: none;
}

.posts, .explore, .upload, .reels, .profile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

.bottomBar {
    background-color: white;

    height: 3.5rem;
    width: 100vw;
    position: fixed;
    bottom: 0px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
}

.bottomBar > * > *{
    height: 2rem;
}

.temp {
    height: 100vh;
}

.active > #home {
    fill: black;
}

#explore {
    stroke-width: 3;
    filter: blur(0.4px);
}

.active > #explore {
    stroke-width: 5;
    filter: blur(0.5px);
}

#reelsO {
    stroke: rgb(0, 0, 0);
    stroke-width: 3;
}

#reelsI {
    fill: rgb(255, 255, 255);
}

#reelsT {
    fill: rgb(0, 0, 0);
}

.active > #reels > #reelsO {
    stroke: white;
    stroke-width:   3;
}

.active > #reels > #reelsI {
    fill: black;
}

.active > #reels > #reelsT {
    fill: white;
}